extend layout
block content
  p
    | This is our first project that consists of 
    | a simple REST API
    | for a responsive APP called VCAPP
  p
    | We will use this page to explain the API calls
block sidebar
  .widget
    h1 Office location:
    p
      | ReGuAl current office is located at Starbucks coffee.
      | Oosterdoksstraat 4, 1011 DK Amsterdam
    p
      | You can join us at any time if you are enthusiastic
      | willing to collaborate and share your ideas and 